a {
    text-decoration: none;
    color: inherit;
}

$mainColor: rgb(209, 229, 255);
@mixin styledText($width) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    transform: translate(-50%, -50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//searching페이지
.searchContainer {
    max-width: 1080px;
    margin: 2rem auto;
    text-align: center;
}

// mobile-toggle
.mNavToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 99;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.mNavToggle.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.mNavToggle.open .line:nth-child(2) {
    opacity: 0;
}

.mNavToggle.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

// nav
.navToggleOpen {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: calc(100vh - 5rem);
    margin: 2rem auto;
    padding: 5rem 1rem 0;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: saturate(180%) blur(30px);
    text-align: center;
    transition: transform 0.5s ease;
    top: -2rem;
    z-index: 98;
    a {
        width: 80%;
        font-size: 1rem;
        font-weight: 900;
        &:hover {
            color: #298dff;
        }
    }
    .home {
        img {
            display: none;
        }
    }
}

.navToggleClose {
    height: 0;
    width: 0;
    transform: translateX(-10rem);
    opacity: 0;
}

.searchHeader {
    max-width: 90%;
    margin: 5rem auto 2rem;
    h1 {
        position: relative;
        img {
            display: inline;
            width: 6rem;
        }
        a {
            @include styledText(100%);
        }
    }
    .searchBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        input,
        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
        }
        input {
            border: 1px solid $mainColor;
            width: 15rem;
        }
        button {
            background: rgb(123, 187, 255);
            color: white;
            cursor: pointer;
        }
        button:focus {
            outline: 0.3rem solid rgb(102, 116, 131);
        }
        input:focus {
            outline: 0.3rem solid rgb(123, 187, 255);
        }
    }
}

.cultureContainer {
    // background-color: $mainColor;
    margin: auto;
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    // border: 1px solid $mainColor;
    border-radius: 10px;
    .hiddenBoxLink {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
    }
    .cultureBox,
    .cultureBox2 {
        width: calc(30% - 10px);
        flex-grow: 1;
        padding: 10px;
        border-radius: 10px;
        backdrop-filter: saturate(180%) blur(30px);
        box-shadow: 0 0 3px 0 rgb(172, 206, 255);
        // background-color: rgba(221, 235, 255, 0.77);
        h2 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* 최대 표시할 줄 수 설정 */
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 20px auto;
            width: 90%;
            font-size: 1rem;
        }
        .imgContainer {
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
        }
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all 0.3s ease;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    .cultureBox2 {
        width: calc(100% - 10px);
        flex-grow: 0;
        margin: auto;
    }
}

.searchReco {
    position: relative;
    display: inline-block;
}

.searchRecommendBox {
    position: absolute;
    width: 14rem;
    max-height: 20rem;
    margin-top: 5px;
    padding: 1rem;
    border: 1px solid $mainColor;
    border-radius: 5px;
    background: #fff;
    list-style: none;
    line-height: 30px;
    overflow-y: auto;
    li {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
    }
}

.selected,
li:hover {
    background: $mainColor;
    border-radius: 5px;
}

.recommendStrong {
    color: rgb(86, 105, 249);
}

.searchClose {
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 5px;
    color: gray;
    cursor: pointer;
}

.searchClose:hover {
    color: black;
}

// pc
@media (min-width: 1080px) {
    //nav toggle
    .mNavToggle {
        display: none;
    }
    .navToggleOpen,
    .navPc {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-width: 1200px;
        margin: 2rem auto;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #fff;
        a {
            width: 80%;
            font-size: 1rem;
            font-weight: 900;
            &:hover {
                color: rgb(92, 162, 255);
            }
            flex: 1;
        }
        .home {
            img {
                display: inline;
                width: 6rem;
            }
            span {
                @include styledText(auto);
            }
            flex: 2;
        }
    }

    .navToggleClose {
        height: auto;
        width: auto;
        transform: translateX(0rem);
        opacity: 1;
    }

    .searchHeader {
        margin: 3rem auto;
        h1 {
            a {
                -webkit-text-stroke-width: initial;
                -webkit-text-stroke-color: initial;
                color: #000;
            }
            img {
                opacity: 0;
            }
        }
        .searchBox {
            input,
            button {
                padding: 1rem;
                font-size: 1.2rem;
            }
            input {
                width: 30rem;
            }
        }
    }

    .cultureContainer {
        gap: 20px;
        .cultureBox,
        .cultureBox2 {
            width: calc(30% - 20px);
            h2 {
                font-size: 1.4rem;
                height: 60px;
            }
            .imgContainer {
                width: 90%;
                margin: auto;
                overflow: hidden;
                border-radius: 10px;
            }
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition: all 0.3s ease;
            }
            &:hover img {
                transform: scale(1.1);
            }
        }
        .cultureBox2 {
            flex-grow: 0;
            margin: auto;
        }
    }

    .searchRecommendBox {
        width: 30rem;
    }

    .searchClose {
        top: 0.55rem;
    }
}
